@import "../../mixin.scss";

.wrapper{
    @include wrapper;
}
.title{
    @include title;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 8px
}
.subtitle{
    @include mainTextStyle;
    color: #FFFFFF;
}
.testimonials{
    background: #292E36;
    padding-top: 1px;
    &Banner{
        width: 100%;
        object-fit: cover;
    }
    &Conteiner{
        @media (max-width: 1127px) {
            text-align: center;
        }
    }
    &Slider{
        padding: 60px 0 120px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        @media (max-width: 1127px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        @media (max-width: 457px) {
            text-align: center;
        }
    }
}