.blockLabel{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 2px solid #E1B168;
    border-bottom: 2px solid #E1B168;
    padding-top: 4px;
    width: fit-content;
    margin: 140px 0 12px 0;
}