@import "../../mixin.scss";

.wrapper{
    @include wrapper;
}
.title{
    @include title;
}
.subtitle{
    @include mainTextStyle;
    color: #555555;
    max-width: 760px;
    text-align: center;
    margin-top: 8px;
}
.secondMenuLink{
    @include mainLink;
    @include mainTextStyle;
    font-size: 22px;
    line-height: 33px;
    color: #E1B168;
    @media (max-width: 377px) {
        padding: 10px 10px;
    }
}
.secondMenuContainer{
    padding-bottom: 75px;
    border-bottom: 1px solid #000000;
    margin-bottom: 64px;
    @media (max-width: 697px) {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    &:last-child{
        text-align: center;
    }
        &Text{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &Cards{
            margin: 50px 0 70px 0;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1347px) {
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 25px;
            }
            @media (max-width: 697px) {
                margin: 20px 0 30px 0;
            }
        }
}

