@import "../../../mixin.scss";

.menuPosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 577px) {
        flex-direction: column;
        text-align: center;
    }
    &Text{
        min-width: 420px;
        @media (max-width: 617px) {
            min-width: 10px;
            margin-right: 15px;
        }
    }
    & span{
        border-bottom: 2px solid #AAAAAA;
        position: relative;
        bottom: -25px;
        width: 100%;
        @media (max-width: 867px) {
            display: none;
        }
    }
    & img{
        margin-right: 20px;
    }
    &Title{
        @include title;
        font-size: 30px;
        line-height: 42px;
    }
    &Subtitle{
        @include mainTextStyle;
        color: #555555;
    }
}