@import "../../../mixin.scss";

.menuPosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    &Text{
        min-width: 420px;
    }
    & span{
        border-bottom: 2px solid #AAAAAA;
        position: relative;
        bottom: -25px;
        width: 100%;
    }
    & img{
        margin-right: 20px;
    }
    &Title{
        font-family: 'Cormorant Infant';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.2px;
        color: #292E36;
    }
    &Subtitle{
        @include mainTextStyle;
        color: #555555;
    }
}