@mixin wrapper{
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
}
@mixin mainLink{
    padding: 20px 57px;
    height: 73px;
    color: #E1B168;
    border: 2px solid #E1B168;
    @media (max-width: 977px) {
        padding: 12px 25px;
        height: 55px;
    }
    @media (max-width: 377px) {
        padding: 0px 10px;
        height: 35px;
    }
}
@mixin mainTextStyle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    @media (max-width: 977px) {
        font-size: 15px;
    }
}
@mixin title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #292E36;
    @media (max-width: 977px) {
        font-size: 25px;
        line-height: 30px;
    }
}