@mixin wrapper{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}
@mixin mainLink{
    padding: 20px 57px;
    height: 73px;
    color: #E1B168;
    border: 2px solid #E1B168;
}
@mixin mainTextStyle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}